<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AlphaBot Control</title>
    <link rel="stylesheet" href="/static/style.css" />
</head>
<body>
    <h3>Controllo AlphaBot</h3>
    <form method="post" action="/">
        <div>
            <button type="submit" name="action" value="W">W</button>
        </div>
        <div>
            <button type="submit" name="action" value="A">A</button>
            <button type="submit" name="action" value="S">S</button>
            <button type="submit" name="action" value="D">D</button>
        </div>
    </form>
</body>
</html>